<!-- Rockhounders Resort About Page -->

<%- include('../partials/header.ejs') %>
	<main>
		<h1>About Page</h1>
		<p>Welcome to the Rockhounders Resort home page!</p>
		<p>Rockhounders Resort is a new community website that you can utilize
			to communicate with fellow rock enthusiasts and schedule rockhounding related events.</p>
		<p>Common events include: rock hunts, field trips, rock auctions, geology/mineralogy seminars, and other educational events.</p>
		<p>Check out the connections page to browse new events!</p>
		<p>We are dedicated to bringing together fellow rockhounds, pebble pups, geologists, mine explorers, and all sorts of people interested in the geological world around us.</p>
		<p>This community is a family-friendly zone and we expect cordiality and respect for all members and event hosts.</p>
		<p>Be sure to utilize our Contact page if you have any questions or concerns!</p>
	</main>
    <%- include('../partials/footer.ejs') %>


