<!-- Rockhounders Resort Home Page -->

<%- include('../partials/header.ejs') %>
	<main>
		<h1>Home Page</h1>
		<p>Welcome to the Rockhounders Resort home page!</p>
		<p>Rockhounders Resort is a new community website that you can utilize
			to communicate with fellow rock enthusiasts and schedule rockhounding related events.</p>
		<p>Common events include: rock hunts, field trips, rock auctions, geology/mineralogy seminars, and other educational events.</p>
		<p>Check out the connections page to browse new events!</p>
	</main>
    <%- include('../partials/footer.ejs') %>


